<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Zmiana hasła w systemie zarządzania biblioteką dla użytkownika: <%= @username %></h1>
    <p>
      Twoje nowe hasło: <%= @password %>.<br>
    </p>
    <p>
      Po zalogowaniu się najlepiej zmień to hasło na nowe.
    </p>
    <p>Dzięki za korzystanie z naszego serwisu. Miłego dnia!</p>
  </body>
</html>