<!-- app/views/admins/_navbar.html.erb -->

<div class="container">
	<div class="col-md-5 col-md-offset-1">
		<ul class="nav nav-tabs nav-justified">
		  <li><%= link_to 'Dodaj użytkownika', '/users_creator' %></li>
			<li><%= link_to 'Zarządzaj użytkownikami', '/administrator/users' %></li>
		</ul>
	</div>
</div>
<br>
