<!-- app/views/users/new.html.erb -->

<h1>New user</h1>

<%= link_to "<button>New student</button>".html_safe, '/students' %> <br><br>
<%= link_to "<button>New librarian</button>".html_safe, '/librarians' %> <br><br>
<%= link_to "<button>New administrator</button>".html_safe, '/administrators' %> <br><br>
<%= link_to "<button>Back to login screen</button>".html_safe, '/login' %> <br><br>
