<!-- app/views/users/new.html.erb -->

<div class ="container">
  <div class="col-md-10 col-md-offset-1">
	<ul class="nav nav-pils nav-justified">
	  <li><%= link_to "Nowy student", '/students', :class => 'btn btn-default' %></li>
	  <li><%= link_to "Nowy bibliotekarz", '/librarians', :class => 'btn btn-default' %></li>
	  <li><%= link_to "Nowy administrator", '/administrators', :class => 'btn btn-default' %></li>
	</ul>
  </div>
</div>
